<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Медиатека</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="albums">
                <MudIcon Icon="@Icons.Material.Filled.Album" Class="icon" />
                <span class="bi" aria-hidden="true"></span> Альбомы
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="artists">
                <MudIcon Icon="@Icons.Material.Filled.Person2" Class="icon" />
                <span class="bi" aria-hidden="true"></span> Артисты
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="genres">
                <MudIcon Icon="@Icons.Material.Filled.MusicNote" Class="icon" />
                <span class="bi" aria-hidden="true"></span> Жанры музыки
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tracks">
                <MudIcon Icon="@Icons.Material.Filled.QueueMusic" Class="icon" />

                <span class="bi" aria-hidden="true"></span> Треки
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="participations">
                <MudIcon Icon="@Icons.Material.Filled.Link" Class="icon" />

                <span class="bi" aria-hidden="true"></span> Связи артиста и жанра
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
