@inject IMediaLibraryApiWrapper MediaLibraryApi
@inject NavigationManager NavManager

<Card>
    <CardHeader>
        <Row Class="justify-content-between">

            <Column ColumnSize="ColumnSize.IsAuto">

				<h2><MudIcon Icon="@Icons.Material.Filled.Album" Class="icon" />  Альбомы</h2>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                <Button Color="Blazorise.Color.Primary" Clicked="OpenCreateModal">
                    Добавить альбом
                </Button>
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="DtoAlbumDetails"
                  Data="_albums"
                  Responsive
                  Striped>
            <DataGridColumns>
                <DataGridColumn Width="150px"
                                TItem="DtoAlbumDetails"
                                Field="@nameof(DtoAlbumDetails.Id)"
                                Caption="Действия">
                    <DisplayTemplate>
                        <Dropdown>
                            <DropdownToggle Color="Blazorise.Color.Primary">
                                Действия
                            </DropdownToggle>
                            <DropdownMenu>
                                <DropdownItem Clicked="() => OpenEditPageAsync(context)">
                                    Редактировать
                                </DropdownItem>
                                <DropdownItem Clicked="() => DeleteGradeAsync(context)">
                                    Удалить
                                </DropdownItem>
                            </DropdownMenu>
                        </Dropdown>
                    </DisplayTemplate>
                </DataGridColumn>

                <DataGridColumn TItem="DtoAlbumDetails"
                                Field="@nameof(DtoAlbumDetails.Title)"
                                Caption="Название альбома">
                </DataGridColumn>
                <DataGridColumn TItem="DtoAlbumDetails"
                                Field="@nameof(DtoAlbumDetails.Release)"
                                Caption="Дата релиза">
                </DataGridColumn>
                <DataGridColumn TItem="DtoAlbumDetails"
                                Field="@nameof(DtoAlbumDetails.ArtistId)"
                                Caption="Идентификатор артиста">
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

<AlbumCreateModal @ref="AlbumCreateModal" OnAlbumAdded="@HandleAlbumAdded" />

@code {
    [Parameter]
    public EventCallback OnDataChanged { get; set; }

    private List<DtoAlbumDetails> _albums = new();

    private AlbumCreateModal AlbumCreateModal { get; set; } = new();

    private async Task LoadAlbums()
    {
        var response = await MediaLibraryApi.GetAllAlbum();
        if (response != null)
        {
            _albums = response.ToList();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadAlbums();
        await base.OnInitializedAsync();
    }

    private void OpenEditPageAsync(DtoAlbumDetails context)
    {
        NavManager.NavigateTo($"albums/{context.Id}");
    }

    private async Task DeleteGradeAsync(DtoAlbumDetails context)
    {
        await MediaLibraryApi.DeleteAlbum(context.Id);
        await LoadAlbums();
        await OnDataChanged.InvokeAsync();
    }

    private async Task HandleAlbumAdded()
    {
        await LoadAlbums();
        await OnDataChanged.InvokeAsync();
    }

    private async Task OpenCreateModal() => await AlbumCreateModal.Show();

}